.common {
  padding: 0.75rem;
  color: #212121;
  border-right: 4px solid #000;
  border-radius: 4px;
  box-shadow: 0 0 6px 3px #0000001a;
}

.info {
  background: #ebebeb;
  border-color: #6c6c6c;
}

.success {
  background: #a8f1c6;
  border-color: #1c8049;
}

.warning {
  background: #ffd38a;
  border-color: #895503;
}

.error {
  background: #f6a7a3;
  border-color: #851611;
}
