.container {
  margin: 0;
  display: inline-flex;

  padding: 0;

  border: 1px solid #8f8f9d;
  border-radius: 2px;

  &:hover {
    border-color: #676774;
  }

  &:focus-within {
    border: 2px solid #3584e4;
    outline: 1px solid white;
    box-shadow: 0 0 0 3px #cce7ff;
    margin: -1px;
  }
}

.button {
  border: none;
  border-radius: 0;
  padding: 0 7px;
}

.input {
  flex-grow: 1;

  appearance: textfield;
  border: none;
  border-radius: 0;

  text-align: center;

  &:focus-visible {
    outline: none;
  }
}
